/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 May, 2017, 4:23:13 PM
    Author     : Ahex
*/

.form-success{
    padding: 10px 20px 0 20px;
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}
.error-mail, .invalid-mail{
    position: absolute;
    margin-top: 10px;
    color: #ff0000;
    font-size: 13px;
    font-weight: bold;
}
.form-fail{
    padding: 10px 20px 0 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
}
.ng-invalid +.error-mail{
    display: none;
}
.custom-check{
    margin-bottom: 15px;
}
.custom-check label{
    position: relative;
}
.custom-check i.custom-check{
    background: url(assets/img/custom-check.png);
}
.custom-check label.checkbox-inline input[type="checkbox"]:checked +  span{
    border          : 2px solid transparent;      
    background-color: #e91e63;
}
.custom-check label.checkbox-inline input[type="checkbox"]:checked +  span i{
    opacity: 1;    
}
.custom-check label.checkbox-inline input[type="checkbox"] + span,
.custom-check label.checkbox-inline input[type="checkbox"]:checked + span {
    -webkit-transition: background-color 0.2s linear;
    -moz-transition   : background-color 0.2s linear;
    -ms-transition    : background-color 0.2s linear;
    -o-transition     : background-color 0.2s linear;
    transition        : background-color 0.2s linear;
}
.custom-check label.checkbox-inline input[type="checkbox"] {
    display:none;
}
.custom-check label.checkbox-inline input[type="checkbox"] +  span {
    display    : inline-block;
    width      : 16px;
    height     : 16px;
    border-radius: 2px;
    line-height: 14px;
    margin     : -3px 5px 0 0;
    padding: 0;
    position: relative;
    background-color:  #fff;
    border: 2px solid rgba(0,0,0,.54);
    vertical-align:middle;
    text-align: center;
    cursor:pointer;
}

.custom-check label.checkbox-inline input[type="checkbox"] +  span i{
    color: #fff;
    display: block;
    width: 18px;
    font-weight: bold;
    left: -1px;
    margin: -3px auto;
    opacity: 0;
    overflow: visible;
    position: relative;
    top: 4px;
    height: 16px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}