@import "../../../../styles/_var";

:host {
  display: block;
  background: #fff url('/assets/img/backgrounds/3.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.forgot {
  background: white;
  width: 380px;

  .forgot-header {
    background: $background-color__sidenav-list;
    padding: 24px;
  }

  .forgot-content {
    padding: 3px 5px 5px;

    md-input-container {
      width: 100%;
      margin: 6px 0 18px;
    }

    a {
      text-decoration: none;
      color: #2196F3;

      &:hover {
        text-decoration: underline;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
   .mat-input-wrapper{
     margin-bottom: 24px;
   } 
   .alert-alert-danger{
    color: red;
    margin-top: -25px;
   }
   .color{
   color:#A9A9A9
   }
  }
}
